# Proyecto Valeria y Martín

Crecimiento del PIB (%Anual) = NY.GDP.MKTP.KD.ZG

Ahorro bruto (% PIB) = NY.GNS.ICTR.ZS

Inflación, precios al consumidor (%anual)= FP.CPI.TOTL.ZG

Exportaciones de bienes y servicios (%PIB) (NE.EXP.GNFS.ZS)

 Importaciones de bienes y servicios (% PIB) (NE.IMP.GNFS.ZS)
 

 AC = NE.EXP.GNFS.ZS + NE.IMP.GNFS.ZS
 
SE.SEC.ENRR = school enrollment secondary (% gross)

In [100]:
import warnings
warnings.filterwarnings('ignore')

In [101]:
wb_regions = ['Arab World', 'Caribbean small states',
              'Central Europe and the Baltics', 'Early-demographic dividend',
              'East Asia & Pacific', 'East Asia & Pacific (excluding high income)',
              'East Asia & Pacific (IDA & IBRD countries)',
              'Euro area', 'Europe & Central Asia',
              'Europe & Central Asia (excluding high income)',
              'Europe & Central Asia (IDA & IBRD countries)',
              'European Union',
              'Fragile and conflict affected situations',
              'Heavily indebted poor countries (HIPC)',
              'High income',
              'IBRD only',
              'IDA & IBRD total',
              'IDA blend',
              'IDA only',
              'IDA total',
              'Late-demographic dividend',
              'Latin America & Caribbean',
              'Latin America & Caribbean (excluding high income)',
              'Latin America & the Caribbean (IDA & IBRD countries)',
              'Least developed countries',
              'Least developed countries: UN classification',
              'Low & middle income',
              'Low income',
              'Lower middle income',
              'Middle East & North Africa',
              'Middle East & North Africa (excluding high income)',
              'Middle East & North Africa (IDA & IBRD countries)',
              'Middle income',
              'North America',
              'Not classified',
              'OECD members',
              'Other small states',
              'Pacific island small states',
              'Post-demographic dividend',
              'Pre-demographic dividend',
              'Small states',
              'South Asia',
              'South Asia (IDA & IBRD)',
              'Sub-Saharan Africa',
              'Sub-Saharan Africa (excluding high income)',
              'Sub-Saharan Africa (IDA & IBRD countries)',
              'Upper middle income',
              'World']

In [102]:
import wbdata
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [103]:
CrecimientoPIBAnual_raw = wbdata.get_data("NY.GDP.MKTP.KD.ZG")

In [104]:
AhorrobrutoPIB_raw = wbdata.get_data("NY.GNS.ICTR.ZS")

In [105]:
Inflacion_raw = wbdata.get_data("FP.CPI.TOTL.ZG")

In [106]:
Exportaciones_raw = wbdata.get_data("NE.EXP.GNFS.ZS")
Importaciones_raw = wbdata.get_data("NE.IMP.GNFS.ZS")
Gasto_Público_educación_raw = wbdata.get_data("SE.XPD.TOTL.GD.ZS")

In [107]:
CrecimientoPIBAnual_raw = wbdata.get_data('NY.GDP.MKTP.KD.ZG')
CrecimientoPIBAnual = {}
for X in CrecimientoPIBAnual_raw:
    date = X['date']
    country = X['country']['value']
    if date == '2018' and country not in wb_regions:
        try:
            gdp_pc = float(X['value'])
            gdp_pcs[country] = gdp_pc
        except:
            pass

In [108]:
AhorrobrutoPIB_raw = wbdata.get_data('NY.GDP.MKTP.KD.ZG')
AhorrobrutoPIB = {}
for X in AhorrobrutoPIB_raw:
    date = X['date']
    country = X['country']['value']
    if date == '2018' and country not in wb_regions:
        try:
            gdp_pc = float(X['value'])
            gdp_pcs[country] = gdp_pc
        except:
            pass

In [109]:
Inflacion_raw = wbdata.get_data('NY.GDP.MKTP.KD.ZG')
Inflacion = {}
for X in Inflacion_raw:
    date = X['date']
    country = X['country']['value']
    if date == '2018' and country not in wb_regions:
        try:
            gdp_pc = float(X['value'])
            gdp_pcs[country] = gdp_pc
        except:
            pass

In [110]:
Importaciones_raw = wbdata.get_data('NE.IMP.GNFS.ZS')
Importaciones= {}
for X in Importaciones_raw:
    date = X['date']
    country = X['country']['value']
    if date == '2018' and country not in wb_regions:
        try:
            gdp_pc = float(X['value'])
            gdp_pcs[country] = gdp_pc
        except:
            pass

In [111]:
Exportaciones_raw = wbdata.get_data('NE.EXP.GNFS.ZS')
Exportaciones = {}
for X in Exportaciones_raw:
    date = X['date']
    country = X['country']['value']
    if date == '2018' and country not in wb_regions:
        try:
            gdp_pc = float(X['value'])
            gdp_pcs[country] = gdp_pc
        except:
            pass

In [112]:
school_enrollment_secondary_raw = wbdata.get_data('SE.SEC.ENRR')
school_enrollment_secondary = {}
for X in school_enrollment_secondary_raw:
    date = X['date']
    country = X['country']['value']
    if date == '2018' and country not in wb_regions:
        try:
            gdp_pc = float(X['value'])
            gdp_pcs[country] = gdp_pc
        except:
            pass

In [113]:
def wb_clean_year_data(wb_raw, year):
    rv = {}
    for X in wb_raw:
        date = X['date']
        country = X['country']['value']
        if date == year and country not in wb_regions:
            try:
                value = float(X['value'])
                rv[country] = value
            except:
                pass
    return rv

In [114]:
def wb_dict_to_dataframe(dict_clean, nombre_variable, año):
    df = pd.DataFrame({'pais': list(dict_clean.keys()),
                       nombre_variable: list(dict_clean.values()),
                       'año': [año] * len(dict_clean)})
    return df

In [115]:
variables = ['NY.GDP.MKTP.KD.ZG', 
             'NY.GNS.ICTR.ZS', 
             'FP.CPI.TOTL.ZG',
             "SL.UEM.TOTL.ZS", 
             "NE.EXP.GNFS.ZS",
             "NE.IMP.GNFS.ZS", 
             "SE.SEC.ENRR"]

In [116]:
CrecimientoPIBAnual_raw = wbdata.get_data("NY.GDP.MKTP.KD.ZG") 
AhorrobrutoPIB_raw = wbdata.get_data("NY.GNS.ICTR.ZS") 
Inflacion_raw = wbdata.get_data("FP.CPI.TOTL.ZG") 
Exportaciones_raw = wbdata.get_data("NE.EXP.GNFS.ZS")
Importaciones_raw = wbdata.get_data("NE.IMP.GNFS.ZS")
school_enrollment_secondary_raw = wbdata.get_data("SE.SEC.ENRR")

In [118]:
raw_lists = {'pib': CrecimientoPIBAnual_raw,
             'ahorro': AhorrobrutoPIB_raw,
             'inflacion': Inflacion_raw,
             "exportacion" : Exportaciones_raw,
             "Importaciones" : Importaciones_raw,
            "schoolenrollmentsecondary" : school_enrollment_secondary_raw}

In [142]:
for año in range(1990, 2011):
    dfs_año = []
    for k, v in raw_lists.items():
        v_clean = wb_clean_year_data(v, str(año))
        df = wb_dict_to_dataframe(v_clean, k, str(año))
        dfs_año.append(df)
    if año == 1990:
        for i, df in enumerate(dfs_año):
            if i == 0:
                df_año = df.merge(dfs_año[i + 1], on=['pais', 'año'])
            else:
                try:
                    df_año = df_año.merge(dfs_año[i + 1], on=['pais', 'año'])
                except:
                    pass
    else:
        for i, df in enumerate(dfs_año):
            if i == 0:
                df_otros_años = df.merge(dfs_año[i + 1], on=['pais', 'año'])
            else:
                try:
                    df_otros_años = df_otros_años.merge(dfs_año[i + 1], on=['pais', 'año'])
                except:
                    pass
        df_año = df_año.append(df_otros_años, ignore_index=True,)

In [143]:
print (df_año)

                    pais       pib   año     ahorro  inflacion  exportacion  \
0                Algeria  0.800001  1990  23.977718  16.652534    23.443685
1           Bahamas, The -1.596249  1990  19.034112   4.669319    54.160771
2                Bahrain  4.437997  1990  36.179577   0.929335   115.555829
3             Bangladesh  5.622258  1990  23.024412   6.126718     5.908316
4               Barbados -3.307593  1990  16.510212   3.074573    42.892247
...                  ...       ...   ...        ...        ...          ...
1903       United States  2.563767  2010  15.518195   1.640043    12.315058
1904             Uruguay  7.803410  2010  17.012409   6.698709    26.342995
1905             Vanuatu  1.629082  2010  20.143342   2.762695    46.626517
1906       Venezuela, RB -1.488791  2010  31.432955  28.187465    28.530407
1907  West Bank and Gaza  8.099089  2010   7.266528   3.749157    15.340342

      Importaciones  schoolenrollmentsecondary
0         24.937029                   59.41419
1         55.959255                   85.73209
2         94.605137                   86.93154
3         13.058186                   20.90838
4         43.133063                   85.42653
...             ...                        ...
1903      15.742894                   94.84594
1904      25.356043                  101.19935
1905      52.738838                   59.53270
1906      17.606487                   82.71373
1907      59.062504                   85.73758

[1908 rows x 8 columns]

In [144]:
df_año["año"].unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010'], dtype=object)

In [145]:
print (df_año ['pais'].value_counts())

Malaysia         21
Finland          21
Korea, Rep.      21
Peru             21
Netherlands      21
                 ..
United States     2
Afghanistan       2
Rwanda            1
Vietnam           1
Iraq              1
Name: pais, Length: 152, dtype: int64

In [154]:
paises_buenos = []
for k, v in dict(df_año["pais"].value_counts()).items():
    if v >=  20:
        paises_buenos.append(k)

In [155]:
df_año_sin_malos = df_año.loc[df_año["pais"].isin(paises_buenos)]
print (df_año_sin_malos ['pais'].value_counts())

Norway            21
Finland           21
Malaysia          21
Spain             21
Netherlands       21
Italy             21
Sweden            21
France            21
Mexico            21
Korea, Rep.       21
United Kingdom    21
Tunisia           21
Morocco           21
Indonesia         21
Peru              21
Bulgaria          21
Denmark           20
Cyprus            20
Costa Rica        20
Iceland           20
Romania           20
Malta             20
Bahrain           20
Germany           20
Uruguay           20
Portugal          20
Switzerland       20
Name: pais, dtype: int64

In [156]:
print (df_año_sin_malos)

                pais       pib   año     ahorro  inflacion  exportacion  \
2            Bahrain  4.437997  1990  36.179577   0.929335   115.555829
6           Bulgaria -9.117377  1990  14.655017  23.800000    33.119192
15        Costa Rica  3.553063  1990  19.357231  19.046136    34.190268
16            Cyprus  7.404000  1990  23.096056   4.502055    51.500565
17           Denmark  1.475244  1990  22.651465   2.641603    36.423155
...              ...       ...   ...        ...        ...          ...
1892          Sweden  6.189029  2010  29.170328   1.157988    44.732840
1893     Switzerland  3.002798  2010  38.973214   0.688233    63.965623
1899         Tunisia  3.510609  2010  20.540961   3.338980    49.496864
1902  United Kingdom  1.949521  2010  12.912079   2.492655    28.275071
1904         Uruguay  7.803410  2010  17.012409   6.698709    26.342995

      Importaciones  schoolenrollmentsecondary
2         94.605137                   86.93154
6         36.727869                   98.79859
15        41.094896                   43.48998
16        57.107644                   64.16503
17        30.867040                  109.43614
...             ...                        ...
1892      39.849494                   98.12031
1893      53.286469                   96.11023
1899      54.651770                   90.18619
1902      30.271417                  102.90468
1904      25.356043                  101.19935

[556 rows x 8 columns]

In [160]:
df_año_sin_malos.groupby("pais").mean()

,pib,ahorro,inflacion,exportacion,Importaciones,schoolenrollmentsecondary
pais,,,,,,
Bahrain,5.298655,22.973348,1.116101,80.377109,68.109187,96.944668
Bulgaria,1.289846,15.754119,93.142445,42.514996,47.446466,91.928588
Costa Rica,4.563938,15.623354,13.688173,39.167714,42.898283,66.459150
Cyprus,4.049750,18.082900,3.321718,57.155312,59.794641,90.940263
Denmark,1.648443,24.284817,2.114913,43.002751,37.393390,119.718646
Finland,2.038006,26.038647,1.906696,36.319850,31.207211,116.671339
France,1.749111,22.683104,1.786587,25.192196,24.358612,106.311745
Germany,1.417044,23.830751,1.993801,31.098715,28.500679,102.375892
Iceland,2.541379,15.643331,5.421891,35.172131,36.830010,106.784115
Indonesia,4.779510,25.275338,11.197154,31.233548,27.282790,56.596715
Italy,1.057014,20.535956,3.132442,23.347777,22.257909,93.161060
"Korea, Rep.",5.934774,35.356070,4.354833,33.633691,32.085025,96.029768
Malaysia,6.084626,35.137749,2.864306,99.156675,86.797190,73.539710
Malta,4.121481,21.297649,2.696688,109.258544,113.720656,91.397133
Mexico,2.618843,21.430963,12.397394,23.474195,25.107149,71.000460
Morocco,3.980822,28.687117,3.065774,26.799586,32.827484,44.284228
Netherlands,2.438106,27.348775,2.236132,60.967799,54.267225,124.041433
Norway,2.603517,32.326490,2.272977,40.547439,29.924036,113.398299
Peru,4.324520,17.911739,386.023032,19.076358,19.136350,77.754342
Portugal,1.803429,18.495091,4.342508,27.552518,35.564369,97.533378
Romania,1.631614,18.322181,66.713085,24.976556,32.447705,82.562965
Spain,2.536832,21.222939,3.506781,23.501822,26.065143,112.030605
Sweden,2.161429,25.737219,2.323934,39.276922,34.795045,120.428446
Switzerland,1.597156,33.619875,1.655511,49.482603,43.416510,96.737086
Tunisia,4.657354,21.343208,3.918038,43.264521,46.800033,70.514587
United Kingdom,2.078593,15.180056,2.768004,24.983489,26.310633,99.391669
Uruguay,2.902166,14.866456,28.066815,23.042847,23.076767,92.736711

In [161]:
df_año_sin_malos["AC"]= df_año_sin_malos["exportacion"]+df_año_sin_malos["Importaciones"]

In [164]:
df_año_sin_malos.head()

,pais,pib,año,ahorro,inflacion,exportacion,Importaciones,schoolenrollmentsecondary,AC
2,Bahrain,4.437997,1990,36.179577,0.929335,115.555829,94.605137,86.93154,210.160966
6,Bulgaria,-9.117377,1990,14.655017,23.800000,33.119192,36.727869,98.79859,69.847061
15,Costa Rica,3.553063,1990,19.357231,19.046136,34.190268,41.094896,43.48998,75.285164
16,Cyprus,7.404000,1990,23.096056,4.502055,51.500565,57.107644,64.16503,108.608209
17,Denmark,1.475244,1990,22.651465,2.641603,36.423155,30.867040,109.43614,67.290196

In [165]:
df_año_sin_malos = df_año_sin_malos[["pais", "pib","ahorro", "inflacion","schoolenrollmentsecondary","AC" ]]

In [167]:
df_año_sin_malos.groupby("pais").mean()

,pib,ahorro,inflacion,schoolenrollmentsecondary,AC
pais,,,,,
Bahrain,5.298655,22.973348,1.116101,96.944668,148.486296
Bulgaria,1.289846,15.754119,93.142445,91.928588,89.961462
Costa Rica,4.563938,15.623354,13.688173,66.459150,82.065997
Cyprus,4.049750,18.082900,3.321718,90.940263,116.949953
Denmark,1.648443,24.284817,2.114913,119.718646,80.396141
Finland,2.038006,26.038647,1.906696,116.671339,67.527061
France,1.749111,22.683104,1.786587,106.311745,49.550808
Germany,1.417044,23.830751,1.993801,102.375892,59.599394
Iceland,2.541379,15.643331,5.421891,106.784115,72.002140
Indonesia,4.779510,25.275338,11.197154,56.596715,58.516337
Italy,1.057014,20.535956,3.132442,93.161060,45.605686
"Korea, Rep.",5.934774,35.356070,4.354833,96.029768,65.718717
Malaysia,6.084626,35.137749,2.864306,73.539710,185.953864
Malta,4.121481,21.297649,2.696688,91.397133,222.979199
Mexico,2.618843,21.430963,12.397394,71.000460,48.581343
Morocco,3.980822,28.687117,3.065774,44.284228,59.627070
Netherlands,2.438106,27.348775,2.236132,124.041433,115.235024
Norway,2.603517,32.326490,2.272977,113.398299,70.471475
Peru,4.324520,17.911739,386.023032,77.754342,38.212708
Portugal,1.803429,18.495091,4.342508,97.533378,63.116887
Romania,1.631614,18.322181,66.713085,82.562965,57.424260
Spain,2.536832,21.222939,3.506781,112.030605,49.566966
Sweden,2.161429,25.737219,2.323934,120.428446,74.071967
Switzerland,1.597156,33.619875,1.655511,96.737086,92.899113
Tunisia,4.657354,21.343208,3.918038,70.514587,90.064554
United Kingdom,2.078593,15.180056,2.768004,99.391669,51.294122
Uruguay,2.902166,14.866456,28.066815,92.736711,46.119614

In [176]:
df_año_sin_malos.to_excel("/Users/martinwulf/Desktop/UP/6 semestre/Econometría 2/proyectowuuu.xlsx",index=False)